<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>This is a home page 4890+5110</h1>
    <h3><%= 4890+5110 %></h3>
    <!-- converts html to string(js)-->
    <h2><%= "mujeeb khan".toUpperCase() %></h2>
    <h2><%= ["Welcome","Hello","Good morning!"][2] %></h2>

    <button>click me!</button>

    
  </body>
</html>
