<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Search</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h2>Search Cars </h2>

    <div class="search-box">
        <label for="carSearch">Enter Car Name:</label>
        <input type="text" id="carSearch" placeholder="Search cars..." autocomplete="off">
    </div>

    <div class="search-box">
        <label for="companySearch">Enter Company Name:</label>
        <input type="text" id="companySearch" placeholder="Search company..." autocomplete="off">
    </div>

    <div class="search-box">
        <label for="seaterSearch">Enter Seater Capacity:</label>
        <input type="number" id="seaterSearch" placeholder="Search seater..." autocomplete="off">
    </div>

    <ul id="searchResults" class="search-results">
        <!-- Search results will appear here -->
    </ul>

    <script src="/js/script.js"></script>

    <footer>
        <p>&copy; 2025 Insta. All Rights Reserved.</p>
        <p>Developed by <strong>Mujeeb Khan</strong></p>
      </footer>
</body>
</html>
